{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<hr>
<h3 class='text-center'>Добавление изделия</h3>
<hr>
<form action='{% url 'make_product' %}' method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <input type='submit' class='btn btn-success' value='Добавить продукт'>
</form>
<br>

{% endblock content %}