{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href='{% static "css/bootstrap.css" %}' rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href='{% static "css/shop-homepage.css" %}' rel="stylesheet">

  <style>
    .carousel-control-next-icon:after
    {
      content: '>';
      font-size: 30px;
      color: black;
    }

    .carousel-control-prev-icon:after 
    {
      content: '<';
      font-size: 30px;
      color: black;
    }
  </style>

  <!-- Bootstrap core JavaScript -->
  <script src='{% static "js/jquery.js" %}'></script>
  <script src='{% static "js/bootstrap.js" %}'></script>

</head>

<body>
  <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href='{% url "base" %}' style="font-family: 'Lobster';">Juvellisimo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          {% if request.get_full_path == '/'  %}
            {% if not request.user.is_authenticated %}
            <li>
              <span class='navbar-text'>Здравствуйте, гость!</span>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='{% url "login" %}'>Войти</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='{% url "registration" %}'>Регистрация</a>
            </li>
            {% else %}
            <li>
              <span class='navbar-text'>Здравствуйте, {{ request.user }}</span>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='{% url "account" %}'>Личный кабинет</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='{% url "logout" %}'>Выйти</a>
            </li>
            {% endif %}
          {% endif %}
          {% if not request.get_full_path == '/' %}
            {% if request.user.is_authenticated %}
              <li class='nav-item'>
                <a class='nav-link' href='{% url "account" %}'>Личный кабинет</a>
              </li>
              <li class='nav-item'>
                <a class='nav-link' href='{% url "logout" %}'>Выйти</a>
              </li>
            {% else %}
              <li class='nav-item'>
              <a class='nav-link' href='{% url "login" %}'>Войти</a>
              </li>
              <li class='nav-item'>
                <a class='nav-link' href='{% url "registration" %}'>Регистрация</a>
              </li>
            {% endif %}
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="
            false">Категории<span class="caret"></span></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for category in categories %}
              <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
              {% endfor %}
            </div>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href='{% url "cart" %}'>Корзина <span class='badge badge-secondary' id='cart_count'>
          {% if not request.session.total %} 0 {% else %} {{ request.session.total }} {% endif %}</span></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    {% block content %}
    <div class="row">

      <div class="col-lg-3">

        <h3 class="my-4">Категории</h3>
        <div class="list-group">
          {% for category in categories %}
          <a href="{{ category.get_absolute_url }}" class="list-group-item list-group-item-action">{{ category.name }}</a>
          {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
          {% if is_moderator %}
            <br>
            <p class='text-center'><a href='{% url 'add_product' %}'><button class='btn btn-primary'>Добавить продукт</button></a></p>
          {% endif %}
        {% endif %}

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            {% for product in products %}
              {% if forloop.first %}
                <div class="carousel-item active">
                  <img class="d-block img-fluid" src="{{ product.image.url }}" alt="First slide" style='padding-left: 260px; height: 300px;'>
                  <br>
                  <p class='text-center'><a href='{{ product.get_absolute_url }}'><button class='btn btn-primary'>{{ product.data.title }}</button></a></p>
                </div>
              {% else %}
                <div class="carousel-item">
                  <img class="d-block img-fluid" src="{{ product.image.url }}" alt="Second slide" style='padding-left: 260px; height: 300px;'>
                  <br>
                  <p class='text-center'><a href='{{ product.get_absolute_url }}'><button class='btn btn-primary'>{{ product.data.title }}</button></a></p>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="row">
          {% for product in products %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{product.image.url}}" alt="" style='width: 100%; height: 250px;'></a>
              <div class="card-body">
                <h5 class='card-title text-center'>
                  <a href="{{ product.get_absolute_url }}">{{ product.data.title }}</a>
                </h5>
                <h5 class='text-center'>{{ product.price }} BYN</h5>
                <p class='text-center'><a href='#' class='add_to_cart' data-slug='{{ product.slug }}'><button class='btn btn-danger'>Добавить в корзину</button></a></p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->
    {% endblock content %}
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Juvellisimo 2019</p>
    </div>
    <!-- /.container -->
  </footer>

<script>
    $(document).ready(function(){
        $('.add_to_cart').on('click', function(e){
            e.preventDefault()
            product_slug = $(this).attr('data-slug')
            data = {
                product_slug: product_slug
            }
            $.ajax({
                type: "GET",
                url: '{% url 'add_to_cart' %}',
                data: data,
                success: function(data) {
                    $("#cart_count").html(data.cart_total)
                }
            })
        })
    })
</script>
</body>

</html>
