{% extends 'base.html' %}

{% block content %}
<br>
<h3 class='text-center'>Ваша корзина</h3>
<br>
{% if cart.items.count > 0 %}
<div class='my-cart'>
    <table class='table'>
    <tr>
        <td class='text-center'><strong>Товар</strong></td>
        <td class='text-center'><strong>Кол-во</strong></td>
        <td class='text-center'><strong>Цена</strong></td>
        <td class='text-center'><strong></strong></td>
    </tr>
    {% for item in cart.items.all %}
    <tr class='cart-item-{{ item.product.id }}' id={{ item.product.slug }}>
        <td class='text-center'>{{ item.product.data.title }}</td>
        <td class='text-center'>
            <form action='' method='GET'>
                <input type='number' name='quantity' class='cart-item-quantity' data-id='{{ item.id }}' value='{{ item.quantity }}' min='1' style='width: 50px;'>        
            </form> 
        </td>
        <td class='text-center' id='cart-item-total-{{ item.id }}'>{{ item.item_total }} BYN</td>
        <td class='text-center'><a href='#' class='remove_from_cart' data-slug='{{ item.product.slug }}'><button class='btn btn-danger'>Удалить</button></a></td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td class='text-center'><strong>Итого:</strong></td>
        <td class='text-center' id='cart-total-price'><strong>{{ cart.cart_total }} BYN</strong></td>
        <td></td>
    </tr>
    </table>
    <br>
    <a href='{% url 'checkout' %}'><button class='btn btn-info'>Предварительный заказ</button></a>
</div>
<br>
<h3 class='cart-empty'></h3>
{% else %}
<h3 class='text-center'>Ваша корзина пуста</h3>
{% endif %}
<script>
    $(document).ready(function(){
        $('.cart-empty').css('display', 'none')
        $('.remove_from_cart').on('click', function(e){
            e.preventDefault()
            product_slug = $(this).attr('data-slug')
            data = {
                product_slug: product_slug
            }

            $.ajax({
                type: "GET",
                url: '{% url 'remove_from_cart' %}',
                data: data,
                success: function(data) {
                    $("#cart_count").html(data.cart_total)
                    $('#' + product_slug).remove()
                    $('#cart-total-price').html('<strong>' + parseFloat(data.cart_total_price).toFixed(2) + ' BYN </strong>')
                    if (parseInt(data.cart_total) == 0) {
                        $('.my-cart').css('display', 'none')
                        $('.cart-empty').css('display', 'block')
                        $('.cart-empty').html('<h3 class="text-center">Ваша корзина пуста</h3>')
                    }
                }
            })
        })
    })
</script>
<script>
    $(document).ready(function(){
        $('.cart-item-quantity').on('click', function(){
            quantity = $(this).val()
            item_id = $(this).attr('data-id')
            data = {
                quantity: quantity,
                item_id: item_id
            }
            $.ajax({
                type: "GET",
                url: '{% url 'change_item_quantity' %}',
                data: data,
                success: function(data) {
                    $('#cart-item-total-' + item_id).html(parseFloat(data.item_total).toFixed(2) + ' BYN')
                    $('#cart-total-price').html('<strong>' + parseFloat(data.cart_total_price).toFixed(2) + ' BYN </strong>')
                }
            })
        })
    })
</script>
{% endblock content %}