{% extends 'base.html' %}

{% block content %}
<div class='col-sm-12'>
    <br>
    <h2>{{ category.name }}</h2>
    <form type='GET' class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" id="product-search" name="query" type="search" placeholder="" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
    </div>
    <hr>
    <div class='row products_list'>
    {% for product in products_of_category %}
    <div class='col-sm-4'>
        <a href='{{ product.get_absolute_url }}'><img src='{{ product.image.url }}' style='width:100%'></a>
        <h4 class='text-center'><a href="{{ product.get_absolute_url }}">{{ product.data.title }}</a></h4>
        <p class='text-center' style='font-size: 25px;'>Цена: <strong>{{ product.price }}</strong> BYN</p>
        <p class='text-center' ><a href='#' class='add_to_cart' data-slug='{{ product.slug }}'><button class='btn btn-danger'>Добавить в корзину</button></a></p>
    </div>
    {% endfor %}
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.add_to_cart').on('click', function(e){
            e.preventDefault()
            product_slug = $(this).attr('data-slug')
            data = {
                product_slug: product_slug
            }
            $.ajax({
                type: "GET",
                url: '{% url 'add_to_cart' %}',
                data: data,
                success: function(data) {
                    $("#cart_count").html(data.cart_total)
                }
            })
        })
    })
</script>
{% endblock content  %}