{% extends 'base.html' %}

{% block content %}
<br>
<h3 class='text-center'>Ваш заказ</h3>
<br>
<table class='table'>
<tr>
    <td class='text-center'><strong>Товар</strong></td>
    <td class='text-center'><strong>Кол-во</strong></td>
    <td class='text-center'><strong>Цена</strong></td>
    <td class='text-center'><strong></strong></td>
</tr>
{% for item in cart.items.all %}
<tr>
    <td class='text-center'>{{ item.product.data.title }}</td>
    <td class='text-center'>{{ item.quantity }}</td>
    <td class='text-center'>{{ item.item_total }} BYN</td>
    <td></td>
</tr>
{% endfor %}
<tr>
    <td></td>
    <td class='text-center'><strong>Итого:</strong></td>
    <td class='text-center'><strong>{{ cart.cart_total }} BYN</strong></td>
    <td></td>
</tr>
</table>
{% if request.user.is_authenticated %}
    <a href='{% url 'create_order' %}'><button class='btn btn-success'>Оформить заказ</button></a>
{% else %}
    <p>Заказывать товар могут только авторизованные пользователи. Пожалуйста, <a href='{% url 'login' %}'>войдите</a> или <a href='{% url 'registration' %}'>зарегистрируйтесь</a></p>
{% endif %}
<br>
<br>
{% endblock content %}