{% extends 'base.html' %}

{% block content  %}
<br>
<div class='row'>
    <div class='col-sm-4'>
        <img src='{{ product.image.url }}' style='width:80%; height:300px;'>
    </div>
    <div class='col-sm-8'>
        <h3 class='text-center'> {{ product.data.title }}</h3>
        <p>{{ product.description }}</p>
        <hr>
        <p style='font-size: 25px;'>Цена: <strong>{{ product.price }}</strong> BYN</p>
        <a href='#' class='add_to_cart' data-slug='{{ product.slug }}'><button class='btn btn-primary'>Добавить в корзину</button></a>
        {% if request.user.is_authenticated %}
          {% if is_moderator %}<a href='{{ product.delete_url }}'><button class='btn btn-danger'>Удалить продукт</button></a>
          {% endif %}
        {% endif %}
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.add_to_cart').on('click', function(e){
            e.preventDefault()
            product_slug = $(this).attr('data-slug')
            data = {
                product_slug: product_slug
            }
            $.ajax({
                type: "GET",
                url: '{% url 'add_to_cart' %}',
                data: data,
                success: function(data) {
                    $("#cart_count").html(data.cart_total)
                }
            })
        })
    })
</script>
{% endblock content  %}