{% extends 'base.html' %}

{% block content %}

<br>
<div class='col-sl-8 col-sm-offset-2'>
	<h3 class='text-center'>Товар добавлен в магазин</h3>
	<p class='text-center'><a href='/'><button class='btn btn-default'>Вернуться на главную</button></a></p>
</div>

{% endblock content %}