{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<h3 class='text-center'>Регистрация</h3>
<div class='container'>
    <div class='col-sm-8 offset-sm-2'>
        <hr>
        <form action='' method='POST'>
            {% csrf_token %}
            {{ form|crispy }}
            <input type='submit' class='btn btn-success btn-block' value='Зарегистрироваться'>
        </form>
    </div>
    <br>
</div>

{% endblock content %}