{% extends 'base.html' %}

{% block content %}

<br>
<div class='col-sl-8 col-sm-offset-2'>
	<h3 class='text-center'>Спасибо за Ваш заказ! Он принят в обработку.</h3>
    <h3 class='text-center'>В ближайшее время менеджер с Вами свяжется.</h3>
	<p class='text-center'><a href='/'><button class='btn btn-default'>Вернуться в покупкам</button></a></p>
</div>

{% endblock content %}